* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    flex: 1;
}

.menu {
    padding: 10 px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: blue;
}

.menu_list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px
}